.clearfix {
  clear: both;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #8d8d8d;
  background-color: #352d2f;
}

header .container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

header .container .logo {
  display: inline-block;
  float: left;
  width: 64px;
  height: 74px;
  margin-left: 10%;
  background-color: #e23b3a;
}

header .container .logo .logo_letters {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  line-height: 22px;
  position: relative;
  width: 50px;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 7px;
  text-align: center;
  color: white;
}

header .container .logo .logo_letters:after {
  position: absolute;
  bottom: -2px;
  left: 14px;
  width: 23px;
  height: 3px;
  content: '';
  background-color: white;
}

header .container .nav_container {
  position: relative;
  left: -50%;
  float: right;
}

header .container .nav {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  position: relative;
  left: 50%;
  display: inline-block;
}

header .container .nav li {
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 50px;
  padding: 25px 0 29px 0;
}

header .container .nav li a {
  padding: 20px 0 26px 0;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  text-decoration: none;
  color: #8d8d8d;
}

header .container .nav li a:hover {
  color: white;
}

header .container .nav li a.active {
  color: white;
  border-bottom: 5px solid white;
}

header .container .language_select {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  line-height: 35px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 15%;
  overflow: hidden;
  width: 60px;
  height: 40px;
  margin-top: 15px;
  padding-top: 0;
  padding-left: 10px;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  color: #8d8d8d;
  border-right: 1px solid #8d8d8d;
  background-color: #352d2f;
}

header .container .language_select.active {
  height: 210px;
  border: 1px solid #8d8d8d;
}

header .container .language_select a {
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  text-decoration: none;
  color: #8d8d8d;
}

header .container .language_select a:hover {
  color: white;
}

header .container .language_select .arrow {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 0;
  height: 0;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  border-top: 5px solid #8d8d8d;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

header .container .language_select .arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .container .search {
  font-size: 25px;
  position: absolute;
  right: 13%;
  margin-top: 20px;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  color: #8d8d8d;
}

header .container .search:hover {
  cursor: pointer;
  color: white;
}

header .container .search .search_block {
  position: absolute;
  z-index: 2;
  display: none;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.jumbotron {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 1px;
  padding: 150px 25%;
  background-color: #352d2f;
}

.jumbotron .headline {
  font-family: 'Teko', sans-serif;
  font-size: 5vw;
  font-weight: 300;
  line-height: 5.5vw;
  margin-top: 10vh;
  margin-bottom: .5vw;
  text-align: center;
  letter-spacing: .5vw;
  color: white;
}

.jumbotron a {
  text-decoration: none;
}

.jumbotron .play_video {
  font-family: 'Teko', sans-serif;
  font-size: 21px;
  width: 200px;
  height: 50px;
  margin: 0 auto;
  padding: 10px 15px;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  color: white;
  border: 2px solid #8d8d8d;
}

.jumbotron .play_video:hover {
  cursor: pointer;
  color: #352d2f;
  background-color: #8d8d8d;
}

.jumbotron .play_video i {
  margin-right: 15px;
}

.jumbotron .discover_more {
  font-family: 'Teko', sans-serif;
  font-size: 26px;
  position: absolute;
  right: 0;
  bottom: 10vh;
  left: 0;
  display: block;
  text-align: center;
  color: white;
}

* {
  box-sizing: border-box;
}

.mission {
  width: 100%;
  height: 30vh;
}

.mission .container {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

.mission .container h2 {
  font-family: 'Teko', sans-serif;
  font-size: 3.2vw;
  padding-top: 2vw;
  text-align: center;
  letter-spacing: .1vw;
  text-transform: uppercase;
}

.mission .container .explore_link .explore_button {
  width: 15vw;
  height: 3.75vw;
  margin-top: 1vw;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
  color: white;
  border: 1px solid transparent;
  background-color: #e23b3a;
}

.mission .container .explore_link .explore_button:hover {
  cursor: pointer;
  color: #e23b3a;
  border: 1px solid black;
  background-color: white;
}

.mission .container .explore_link .explore_button span {
  font-family: 'Teko', sans-serif;
  font-size: 1.5vw;
  letter-spacing: .1vw;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

.clearfix {
  clear: both;
}

.sample_projects {
  font-family: 'Teko', sans-serif;
  width: 100%;
  height: 100vh;
}

.sample_projects a {
  text-decoration: none;
  color: white;
}

.sample_projects a:hover {
  cursor: pointer;
}

.sample_projects .left, .sample_projects .footer .container .copyright .right, .footer .container .copyright .sample_projects .right, .footer .container .copyright .sample_projects .first, .sample_projects .footer .container .copyright .first, .footer .container .copyright .sample_projects .second, .sample_projects .footer .container .copyright .second {
  position: relative;
  float: left;
  width: 50%;
  height: 93%;
  background-color: #e23b3a;
}

.sample_projects .left span, .sample_projects .footer .container .copyright .right span, .footer .container .copyright .sample_projects .right span, .footer .container .copyright .sample_projects .first span, .sample_projects .footer .container .copyright .first span, .footer .container .copyright .sample_projects .second span, .sample_projects .footer .container .copyright .second span {
  font-size: 2vw;
  display: inline-block;
  margin: 50vh 20vw 2vw 4.5vw;
  letter-spacing: .2vw;
  text-transform: uppercase;
  color: darkgray;
}

.sample_projects .left .window, .sample_projects .footer .container .copyright .right .window, .footer .container .copyright .sample_projects .right .window, .footer .container .copyright .sample_projects .first .window, .sample_projects .footer .container .copyright .first .window, .footer .container .copyright .sample_projects .second .window, .sample_projects .footer .container .copyright .second .window {
  position: relative;
  overflow: hidden;
  width: 23vw;
  height: 11vw;
  margin-left: 4.5vw;
}

.sample_projects .left .window .featured1, .sample_projects .footer .container .copyright .right .window .featured1, .footer .container .copyright .sample_projects .right .window .featured1, .footer .container .copyright .sample_projects .first .window .featured1, .sample_projects .footer .container .copyright .first .window .featured1, .footer .container .copyright .sample_projects .second .window .featured1, .sample_projects .footer .container .copyright .second .window .featured1, .sample_projects .left .window .featured2, .sample_projects .footer .container .copyright .right .window .featured2, .footer .container .copyright .sample_projects .right .window .featured2, .footer .container .copyright .sample_projects .first .window .featured2, .sample_projects .footer .container .copyright .first .window .featured2, .footer .container .copyright .sample_projects .second .window .featured2, .sample_projects .footer .container .copyright .second .window .featured2 {
  position: absolute;
  left: -100%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

.sample_projects .left .window .featured1 h3, .sample_projects .footer .container .copyright .right .window .featured1 h3, .footer .container .copyright .sample_projects .right .window .featured1 h3, .footer .container .copyright .sample_projects .first .window .featured1 h3, .sample_projects .footer .container .copyright .first .window .featured1 h3, .footer .container .copyright .sample_projects .second .window .featured1 h3, .sample_projects .footer .container .copyright .second .window .featured1 h3, .sample_projects .left .window .featured2 h3, .sample_projects .footer .container .copyright .right .window .featured2 h3, .footer .container .copyright .sample_projects .right .window .featured2 h3, .footer .container .copyright .sample_projects .first .window .featured2 h3, .sample_projects .footer .container .copyright .first .window .featured2 h3, .footer .container .copyright .sample_projects .second .window .featured2 h3, .sample_projects .footer .container .copyright .second .window .featured2 h3 {
  font-size: 4vw;
  font-weight: 300;
  margin-bottom: .75vw;
  letter-spacing: .3vw;
  text-transform: uppercase;
  color: white;
}

.sample_projects .left .window .featured1 p, .sample_projects .footer .container .copyright .right .window .featured1 p, .footer .container .copyright .sample_projects .right .window .featured1 p, .footer .container .copyright .sample_projects .first .window .featured1 p, .sample_projects .footer .container .copyright .first .window .featured1 p, .footer .container .copyright .sample_projects .second .window .featured1 p, .sample_projects .footer .container .copyright .second .window .featured1 p, .sample_projects .left .window .featured2 p, .sample_projects .footer .container .copyright .right .window .featured2 p, .footer .container .copyright .sample_projects .right .window .featured2 p, .footer .container .copyright .sample_projects .first .window .featured2 p, .sample_projects .footer .container .copyright .first .window .featured2 p, .footer .container .copyright .sample_projects .second .window .featured2 p, .sample_projects .footer .container .copyright .second .window .featured2 p {
  font-size: 1.1vw;
  font-weight: 300;
  letter-spacing: .1vw;
  color: darkgray;
}

.sample_projects .left .window .featured1.active, .sample_projects .footer .container .copyright .right .window .featured1.active, .footer .container .copyright .sample_projects .right .window .featured1.active, .footer .container .copyright .sample_projects .first .window .featured1.active, .sample_projects .footer .container .copyright .first .window .featured1.active, .footer .container .copyright .sample_projects .second .window .featured1.active, .sample_projects .footer .container .copyright .second .window .featured1.active, .sample_projects .left .window .active.featured2, .sample_projects .footer .container .copyright .right .window .active.featured2, .footer .container .copyright .sample_projects .right .window .active.featured2, .footer .container .copyright .sample_projects .first .window .active.featured2, .sample_projects .footer .container .copyright .first .window .active.featured2, .footer .container .copyright .sample_projects .second .window .active.featured2, .sample_projects .footer .container .copyright .second .window .active.featured2 {
  left: 0;
}

.sample_projects .left .window .featured2, .sample_projects .footer .container .copyright .right .window .featured2, .footer .container .copyright .sample_projects .right .window .featured2, .footer .container .copyright .sample_projects .first .window .featured2, .sample_projects .footer .container .copyright .first .window .featured2, .footer .container .copyright .sample_projects .second .window .featured2, .sample_projects .footer .container .copyright .second .window .featured2 {
  left: 100%;
}

.sample_projects .left .indicator1, .sample_projects .footer .container .copyright .right .indicator1, .footer .container .copyright .sample_projects .right .indicator1, .footer .container .copyright .sample_projects .first .indicator1, .sample_projects .footer .container .copyright .first .indicator1, .footer .container .copyright .sample_projects .second .indicator1, .sample_projects .footer .container .copyright .second .indicator1, .sample_projects .left .indicator2, .sample_projects .footer .container .copyright .right .indicator2, .footer .container .copyright .sample_projects .right .indicator2, .footer .container .copyright .sample_projects .first .indicator2, .sample_projects .footer .container .copyright .first .indicator2, .footer .container .copyright .sample_projects .second .indicator2, .sample_projects .footer .container .copyright .second .indicator2 {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
  overflow: hidden;
  width: 3vw;
  height: .3vw;
  opacity: .8;
  background-color: darkgray;
}

.sample_projects .left .indicator1:hover, .sample_projects .footer .container .copyright .right .indicator1:hover, .footer .container .copyright .sample_projects .right .indicator1:hover, .footer .container .copyright .sample_projects .first .indicator1:hover, .sample_projects .footer .container .copyright .first .indicator1:hover, .footer .container .copyright .sample_projects .second .indicator1:hover, .sample_projects .footer .container .copyright .second .indicator1:hover, .sample_projects .left .indicator2:hover, .sample_projects .footer .container .copyright .right .indicator2:hover, .footer .container .copyright .sample_projects .right .indicator2:hover, .footer .container .copyright .sample_projects .first .indicator2:hover, .sample_projects .footer .container .copyright .first .indicator2:hover, .footer .container .copyright .sample_projects .second .indicator2:hover, .sample_projects .footer .container .copyright .second .indicator2:hover {
  cursor: pointer;
}

.sample_projects .left .indicator1:after, .sample_projects .footer .container .copyright .right .indicator1:after, .footer .container .copyright .sample_projects .right .indicator1:after, .footer .container .copyright .sample_projects .first .indicator1:after, .sample_projects .footer .container .copyright .first .indicator1:after, .footer .container .copyright .sample_projects .second .indicator1:after, .sample_projects .footer .container .copyright .second .indicator1:after, .sample_projects .left .indicator2:after, .sample_projects .footer .container .copyright .right .indicator2:after, .footer .container .copyright .sample_projects .right .indicator2:after, .footer .container .copyright .sample_projects .first .indicator2:after, .sample_projects .footer .container .copyright .first .indicator2:after, .footer .container .copyright .sample_projects .second .indicator2:after, .sample_projects .footer .container .copyright .second .indicator2:after {
  position: absolute;
  left: 100%;
  width: 100%;
  height: 100%;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  background-color: white;
}

.sample_projects .left .indicator2, .sample_projects .footer .container .copyright .right .indicator2, .footer .container .copyright .sample_projects .right .indicator2, .footer .container .copyright .sample_projects .first .indicator2, .sample_projects .footer .container .copyright .first .indicator2, .footer .container .copyright .sample_projects .second .indicator2, .sample_projects .footer .container .copyright .second .indicator2 {
  left: 9vw;
}

.sample_projects .left .indicator2:after, .sample_projects .footer .container .copyright .right .indicator2:after, .footer .container .copyright .sample_projects .right .indicator2:after, .footer .container .copyright .sample_projects .first .indicator2:after, .sample_projects .footer .container .copyright .first .indicator2:after, .footer .container .copyright .sample_projects .second .indicator2:after, .sample_projects .footer .container .copyright .second .indicator2:after {
  left: -100%;
}

.sample_projects .left .indicator1.active:after, .sample_projects .footer .container .copyright .right .indicator1.active:after, .footer .container .copyright .sample_projects .right .indicator1.active:after, .footer .container .copyright .sample_projects .first .indicator1.active:after, .sample_projects .footer .container .copyright .first .indicator1.active:after, .footer .container .copyright .sample_projects .second .indicator1.active:after, .sample_projects .footer .container .copyright .second .indicator1.active:after, .sample_projects .left .active.indicator2:after, .sample_projects .footer .container .copyright .right .active.indicator2:after, .footer .container .copyright .sample_projects .right .active.indicator2:after, .footer .container .copyright .sample_projects .first .active.indicator2:after, .sample_projects .footer .container .copyright .first .active.indicator2:after, .footer .container .copyright .sample_projects .second .active.indicator2:after, .sample_projects .footer .container .copyright .second .active.indicator2:after {
  left: 0;
}

.sample_projects .left .indicator2.active:after, .sample_projects .footer .container .copyright .right .indicator2.active:after, .footer .container .copyright .sample_projects .right .indicator2.active:after, .footer .container .copyright .sample_projects .first .indicator2.active:after, .sample_projects .footer .container .copyright .first .indicator2.active:after, .footer .container .copyright .sample_projects .second .indicator2.active:after, .sample_projects .footer .container .copyright .second .indicator2.active:after {
  left: 0;
}

.sample_projects .right, .sample_projects .first, .sample_projects .second {
  float: right;
  width: 50%;
  height: 46.5%;
  padding: 30vh 20vw 1vw 5vw;
}

.sample_projects .first {
  background-color: #352d2f;
}

.sample_projects .first .wrapper h3 {
  font-size: 4vw;
  font-weight: 300;
  margin-bottom: .75vw;
  letter-spacing: .3vw;
  text-transform: uppercase;
  color: white;
}

.sample_projects .first .wrapper p {
  font-size: 1.1vw;
  font-weight: 300;
  letter-spacing: .1vw;
  opacity: .8;
  color: darkgray;
}

.sample_projects .second {
  background-color: #30282A;
}

.sample_projects .second .wrapper h3 {
  font-size: 4vw;
  font-weight: 300;
  margin-bottom: .75vw;
  letter-spacing: .3vw;
  text-transform: uppercase;
  color: white;
}

.sample_projects .second .wrapper p {
  font-size: 1.1vw;
  font-weight: 300;
  letter-spacing: .1vw;
  opacity: .8;
  color: darkgray;
}

.sample_projects .show_more {
  width: 100%;
  height: 7%;
  text-align: center;
  background-color: #352d2f;
}

.sample_projects .show_more a {
  position: relative;
  display: inline-block;
  width: 12vw;
  height: 100%;
  margin: 0 auto;
  padding-top: 1vw;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

.sample_projects .show_more a p {
  font-size: 1.5vw;
  display: inline-block;
  text-align: center;
  letter-spacing: .1vw;
  text-transform: uppercase;
}

.sample_projects .show_more a p:after {
  position: absolute;
  z-index: 5;
  bottom: 1.5vh;
  left: 2%;
  width: 95.5%;
  height: 7%;
  content: '';
  background-color: white;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

.sample_projects .show_more a:hover {
  color: #e23b3a;
}

.sample_projects .show_more a:hover p:after {
  background-color: #e23b3a;
}

.footer {
  height: 40vh;
  width: 100%;
}

.footer .container {
  height: 100%;
  width: 60%;
  margin: 0 auto;
  position: relative;
}

.footer .container .wrapper {
  float: left;
  height: 70%;
  width: 23%;
  margin-right: 2%;
}

.footer .container .wrapper:nth-child(2) {
  width: 50%;
}

.footer .container .wrapper:nth-child(3) {
  margin-right: 0;
}

.footer .container .wrapper p {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  position: relative;
  font-size: 1.5vw;
  padding-top: 3.4vh;
  letter-spacing: .2vw;
}

.footer .container .wrapper p:after {
  content: '';
  width: 100%;
  height: .3vh;
  background-color: black;
  position: absolute;
  bottom: -.7vw;
  left: 0;
}

.footer .container .wrapper ul {
  margin-top: 3.3vh;
}

.footer .container .wrapper ul.middle {
  display: inline-block;
  width: 50%;
  float: left;
}

.footer .container .wrapper ul li {
  padding-bottom: 1.4vh;
}

.footer .container .wrapper ul li a {
  text-decoration: none;
  color: #8d8d8d;
  text-transform: capitalize;
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
}

.footer .container .wrapper ul li a:hover {
  color: black;
}

.footer .container .copyright {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
  font-family: 'Dosis', sans-serif;
  font-size: .7vw;
}

.footer .container .copyright:before {
  content: '';
  position: absolute;
  top: -1vh;
  height: .1vh;
  width: 100%;
  background-color: #8d8d8d;
}

.footer .container .copyright .left, .footer .container .copyright .right, .footer .container .copyright .sample_projects .first, .sample_projects .footer .container .copyright .first, .footer .container .copyright .sample_projects .second, .sample_projects .footer .container .copyright .second {
  float: left;
  margin-top: 1vh;
  color: #8d8d8d;
}

.footer .container .copyright .right, .footer .container .copyright .sample_projects .first, .sample_projects .footer .container .copyright .first, .footer .container .copyright .sample_projects .second, .sample_projects .footer .container .copyright .second {
  float: right;
}

.footer .container .copyright .right a, .footer .container .copyright .sample_projects .first a, .sample_projects .footer .container .copyright .first a, .footer .container .copyright .sample_projects .second a, .sample_projects .footer .container .copyright .second a {
  text-decoration: none;
  color: #8d8d8d;
  margin-right: 1vw;
}
