.clearfix {
  clear: both;
}

* {
  box-sizing: border-box;
}

header {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 75px;
  border-bottom: 1px solid #8d8d8d;
  background-color: #30282A;
}

header .container {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

header .container .logo {
  display: inline-block;
  float: left;
  width: 64px;
  height: 74px;
  margin-left: 10%;
  background-color: #e23b3a;
}

header .container .logo .logo_letters {
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  line-height: 22px;
  position: relative;
  width: 50px;
  margin: 0 auto;
  margin-top: 5px;
  padding-top: 7px;
  text-align: center;
  color: white;
}

header .container .logo .logo_letters:after {
  position: absolute;
  bottom: -2px;
  left: 14px;
  width: 23px;
  height: 3px;
  content: '';
  background-color: white;
}

header .container .nav_container {
  position: relative;
  left: -50%;
  float: right;
}

header .container .nav {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  position: relative;
  left: 50%;
  display: inline-block;
}

header .container .nav li {
  display: inline-block;
  float: left;
  height: 100%;
  margin-left: 50px;
  padding: 25px 0 29px 0;
}

header .container .nav li a {
  padding: 20px 0 26px 0;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  text-decoration: none;
  color: #8d8d8d;
}

header .container .nav li a:hover {
  color: white;
}

header .container .nav li a.active {
  color: white;
  border-bottom: 5px solid white;
}

header .container .language_select {
  font-family: 'Dosis', sans-serif;
  font-size: 15px;
  line-height: 35px;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 15%;
  overflow: hidden;
  width: 60px;
  height: 40px;
  margin-top: 15px;
  padding-top: 0;
  padding-left: 10px;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  color: #8d8d8d;
  border-right: 1px solid #8d8d8d;
  background-color: #30282A;
}

header .container .language_select.active {
  height: 210px;
  border: 1px solid #8d8d8d;
}

header .container .language_select a {
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  text-decoration: none;
  color: #8d8d8d;
}

header .container .language_select a:hover {
  color: white;
}

header .container .language_select .arrow {
  position: absolute;
  top: 16px;
  right: 11px;
  width: 0;
  height: 0;
  -webkit-transition: all 300ms ease;
          transition: all 300ms ease;
  border-top: 5px solid #8d8d8d;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

header .container .language_select .arrow.active {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

header .container .search {
  font-size: 25px;
  position: absolute;
  right: 13%;
  margin-top: 20px;
  -webkit-transition: all 200ms ease;
          transition: all 200ms ease;
  color: #8d8d8d;
}

header .container .search:hover {
  cursor: pointer;
  color: white;
}

header .container .search .search_block {
  position: absolute;
  z-index: 2;
  display: none;
}

.headline {
  width: 100%;
  height: 50vh;
  margin-top: 1px;
  background-color: #30282A;
}

.headline .container {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.headline .container h1 {
  font-family: "Teko", sans-serif;
  font-size: 5.5vw;
  font-weight: 300;
  line-height: 13vh;
  letter-spacing: 1vw;
  text-transform: uppercase;
  color: white;
}

.project_select {
  width: 100%;
  height: 70vh;
}

.project_select > div {
  float: left;
  width: 33.3%;
  height: 100%;
}

.project_select .left .wrapper, .project_select .right .wrapper, .project_select footer .container .copyright .right .wrapper, footer .container .copyright .project_select .right .wrapper {
  font-family: "Teko", sans-serif;
  font-size: 1.3vw;
  font-weight: 300;
  display: inline-block;
  margin-top: 10%;
  margin-left: 15vw;
  cursor: pointer;
  text-align: left;
  letter-spacing: .1vw;
  text-transform: uppercase;
}

.project_select .left .wrapper p:first-child, .project_select .right .wrapper p:first-child {
  color: #e23b3a;
}

.project_select .right .wrapper {
  float: right;
  margin-right: 15vw;
  text-align: right;
}

.project_select .center {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

.project_select .center .connecto, .project_select .center .american_university, .project_select .center .curiosity {
  position: absolute;
  width: 100%;
  height: 100%;
}

.project_select .center .connecto .wrapper, .project_select .center .american_university .wrapper, .project_select .center .curiosity .wrapper {
  font-size: 1.3vw;
  line-height: 0;
  margin-top: 3vh;
  margin-bottom: 1vw;
  color: #e23b3a;
}

.project_select .center .connecto .name, .project_select .center .american_university .name, .project_select .center .curiosity .name {
  font-family: "Teko", sans-serif;
  font-size: 2.4vw;
  margin-bottom: 9vh;
  letter-spacing: .2vw;
  text-transform: uppercase;
}

.project_select .center .connecto .tagline, .project_select .center .american_university .tagline, .project_select .center .curiosity .tagline {
  font-family: "Teko", sans-serif;
  font-size: 2.4vw;
  font-weight: 300;
  line-height: 3vw;
  margin-bottom: 2vh;
  letter-spacing: .15vw;
  text-transform: uppercase;
}

.project_select .center .connecto .summary, .project_select .center .american_university .summary, .project_select .center .curiosity .summary {
  font-family: "Dosis", sans-serif;
  font-size: 1.15vw;
  line-height: 1.2vw;
  position: relative;
  margin-bottom: 3vh;
  padding-bottom: 10%;
}

.project_select .center .connecto .summary:after, .project_select .center .american_university .summary:after, .project_select .center .curiosity .summary:after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .4vw;
  content: '';
  background-color: black;
}

.project_select .center .connecto .year, .project_select .center .american_university .year, .project_select .center .curiosity .year, .project_select .center .connecto .client, .project_select .center .american_university .client, .project_select .center .curiosity .client, .project_select .center .connecto .tags, .project_select .center .american_university .tags, .project_select .center .curiosity .tags {
  font-family: "Teko", sans-serif;
  font-size: 1.4vw;
  font-weight: 300;
  margin-bottom: 1vh;
  letter-spacing: .1vw;
  text-transform: uppercase;
}

.project_select .center .american_university, .project_select .center .project_display .curiosity, .project_display .project_select .center .curiosity {
  display: none;
}

.project_select .center .american_university i, .project_select .center .project_display .curiosity i, .project_display .project_select .center .curiosity i {
  font-size: 2vw;
}

.project_select .center .curiosity {
  display: none;
}

.project_select .center .curiosity i {
  font-size: 2vw;
}

.project_display {
  position: relative;
}

.project_display .american_university, .project_display .curiosity {
  font-family: "Teko", sans-serif;
  font-size: 2vw;
  line-height: 7vh;
  display: none;
  width: 100%;
  height: 90vh;
  text-align: center;
  letter-spacing: 1vw;
  text-transform: uppercase;
  color: white;
  background-color: #30282A;
}

.project_display .american_university .wrapper, .project_display .curiosity .wrapper {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.project_display .connecto .top, .project_display .project_select .center .american_university .top, .project_select .center .project_display .american_university .top, .project_display .project_select .center .curiosity .top, .project_select .center .project_display .curiosity .top {
  width: 100%;
  height: 90vh;
  background-color: #30282A;
}

.project_display .connecto .left, .project_display .project_select .center .american_university .left, .project_select .center .project_display .american_university .left, .project_display .project_select .center .curiosity .left, .project_select .center .project_display .curiosity .left, .project_display .connecto .project_select .right, .project_select .project_display .connecto .right, .project_display .project_select .center .american_university .right, .project_select .center .project_display .american_university .right, .project_display .project_select .center .curiosity .right, .project_select .center .project_display .curiosity .right, .project_display .connecto footer .container .copyright .right, footer .container .copyright .project_display .connecto .right {
  float: left;
  width: 50%;
  height: 50vh;
  background-color: #4b3f43;
}

.project_display .connecto .right, .project_display .project_select .center .american_university .right, .project_select .center .project_display .american_university .right, .project_display .project_select .center .curiosity .right, .project_select .center .project_display .curiosity .right {
  float: right;
  width: 50%;
  height: 25vh;
  background-color: #352d2f;
}

.project_display .connecto .right:last-child, .project_display .project_select .center .american_university .right:last-child, .project_select .center .project_display .american_university .right:last-child, .project_display .project_select .center .curiosity .right:last-child, .project_select .center .project_display .curiosity .right:last-child {
  background-color: #30282A;
}

.project_display .curiosity {
  display: none;
}

footer {
  width: 100%;
  height: 40vh;
}

footer .container {
  position: relative;
  width: 60%;
  height: 100%;
  margin: 0 auto;
}

footer .container .wrapper {
  float: left;
  width: 23%;
  height: 70%;
  margin-right: 2%;
}

footer .container .wrapper:nth-child(2) {
  width: 50%;
}

footer .container .wrapper:nth-child(3) {
  margin-right: 0;
}

footer .container .wrapper p {
  font-family: 'Teko', sans-serif;
  font-size: 1.5vw;
  position: relative;
  padding-top: 3.4vh;
  letter-spacing: .2vw;
  text-transform: uppercase;
}

footer .container .wrapper p:after {
  position: absolute;
  bottom: -.7vw;
  left: 0;
  width: 100%;
  height: .3vh;
  content: '';
  background-color: black;
}

footer .container .wrapper ul {
  margin-top: 3.3vh;
}

footer .container .wrapper ul.middle {
  display: inline-block;
  float: left;
  width: 50%;
}

footer .container .wrapper ul li {
  padding-bottom: 1.4vh;
}

footer .container .wrapper ul li a {
  font-family: 'Dosis', sans-serif;
  font-size: 1vw;
  -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out;
  text-decoration: none;
  text-transform: capitalize;
  color: #8d8d8d;
}

footer .container .wrapper ul li a:hover {
  color: black;
}

footer .container .copyright {
  font-family: 'Dosis', sans-serif;
  font-size: .7vw;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10%;
}

footer .container .copyright:before {
  position: absolute;
  top: -1vh;
  width: 100%;
  height: .1vh;
  content: '';
  background-color: #8d8d8d;
}

footer .container .copyright .left, footer .container .copyright .right {
  float: left;
  margin-top: 1vh;
  color: #8d8d8d;
}

footer .container .copyright .right {
  float: right;
}

footer .container .copyright .right a {
  margin-right: 1vw;
  text-decoration: none;
  color: #8d8d8d;
}

.social_media {
  width: 100%;
  height: 20vh;
}

.social_media .container {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.social_media .container h3 {
  font-family: "Teko", sans-serif;
  text-transform: uppercase;
  letter-spacing: .2vw;
  font-size: 1vw;
  margin-top: 2vh;
}

.social_media .container p:nth-child(2) {
  font-family: "Dosis", sans-serif;
  color: #8d8d8d;
  font-size: .75vw;
  margin-top: 1.5vh;
}

.social_media .container ul {
  margin-top: 2vh;
  width: 100%;
}

.social_media .container ul a {
  display: inline-block;
  border: 1px solid #8d8d8d;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  letter-spacing: .15vw;
  font-size: 1.25vw;
  padding: .75% 5.6%;
  font-weight: 300;
  margin-right: 2.5%;
}

.social_media .container ul a:last-child {
  margin-right: 0;
}

.social_media .container ul a i {
  font-size: 1.50vw;
  vertical-align: -10%;
  padding-right: 5%;
}

.social_media .container p:last-child {
  text-transform: uppercase;
  font-family: "Teko", sans-serif;
  font-size: 1vw;
  margin-top: 6vh;
}
