@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/header";
@import "../partials/footer";

.feature {
	width: 100%;
	height: 100vh;

	.title{
		height: 15%;
		background-color: $gray;
		
		h1{
			font-family: $font1;
			color: white;
			text-align: center;
			@include vertical-center;
			font-size: 2vw;
			font-weight: 300;
			letter-spacing: .3vw;
			text-transform: uppercase;
		}
	}
}