@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/header";
@import "../partials/jumbotron";
@import "../partials/mission";
@import "../partials/projects";
@import "../partials/footer";

.footer{
	height: 40vh;
	width: 100%;

	.container{
		height: 100%;
		width: 60%;
		margin: 0 auto;
		position: relative;

		.wrapper{
			float: left;
			height: 70%;
			width: 23%;
			margin-right: 2%;

			&:nth-child(2){
			width: 50%;
			}

			&:nth-child(3){
				margin-right: 0;
			}

			p{
				font-family: 'Teko', sans-serif;
				text-transform: uppercase;
				position: relative;
				font-size: 1.5vw;
				padding-top: 3.4vh;
				letter-spacing: .2vw;

				&:after{
					content: '';
					width: 100%;
					height: .3vh;
					background-color: black;
					position: absolute;
					bottom: -.7vw;
					left: 0;
				}
			}

			ul{
				margin-top: 3.3vh;

				&.middle{
					display: inline-block;
					width: 50%;
					float: left;
				}

				li{
					padding-bottom: 1.4vh;

					a{
						text-decoration: none;
						color: $font-color;
						text-transform: capitalize;
						font-family: 'Dosis', sans-serif;
						font-size: 1vw;
						transition: all 300ms ease-in-out;

						&:hover{
							color: black;
						}
					}
				}
			}

		}

		.copyright{
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 10%;
			font-family: 'Dosis', sans-serif;
			font-size: .7vw;

			&:before{
				content: '';
				position: absolute;
				top: -1vh;
				height: .1vh;
				width: 100%;
				background-color: $font-color;
			}

			.left{
				float: left;
				margin-top: 1vh;
				color: $font-color;
			}

			.right{
				float: right;
				@extend .left;


				a{
					text-decoration: none;
					color: $font-color;
					margin-right: 1vw;
				}
			}
		}
	}
}