@import "../partials/variables";
@import "../partials/mixins";
@import "../partials/header";
@import "../partials/jumbotron";
@import "../partials/mission";
@import "../partials/footer";

*{
	box-sizing: border-box;
}

.sample_projects{
	width: 100%;
	height: 100vh;
	font-family: 'Teko', sans-serif;
	a{
		text-decoration: none;
		color: white;

		&:hover{
			cursor: pointer;
		}
	}

	.left{
		float: left;
		height: 100%;
		width: 50%;
		background-color: $red;
	}

	.right{
		float: right;
		height: 50%;
		width: 50%;
		padding: 30vh 20vw 1vw 5vw;
	}

	.first{
		@extend .right;
		background-color: $gray;
		.wrapper{
			h3{
				color: white;
				font-size: 4vw;
				letter-spacing: .3vw;
				font-weight: 300;
				text-transform: uppercase;
				margin-bottom: .75vw;
			}
			p{
				font-size: 1.1vw;
				font-weight: 300;
				color: darkgray;
				opacity: .8;
				letter-spacing: .1vw;
			}
		}

	}

	.second{
		@extend .right;
		background-color: $gray2;
		.wrapper{
			h3{
				color: white;
				font-size: 4vw;
				letter-spacing: .3vw;
				font-weight: 300;
				text-transform: uppercase;
				margin-bottom: .75vw;
			}
			p{
				font-size: 1.1vw;
				font-weight: 300;
				color: darkgray;
				opacity: .8;
				letter-spacing: .1vw;
			}
		}
	}
}