* {
    box-sizing: border-box;
}

.features {
    width: 100%;
    height: 70vh;

    .container {
        width: 60%;
        height: 100%;
        margin: 0 auto;

        .left {
            float: left;
            width: 50%;
            height: 50%;
            padding-top: 5vh;

            i {
                font-size: 2.5vw;
                margin-bottom: 1vw;
                transform: rotateY(180deg);
                color: $red;
            }

            h3 {
                font-family: 'Teko', sans-serif;
                font-size: 1.5vw;
                font-weight: 300;
                width: 15vw;
                margin-bottom: 1vw;
                letter-spacing: .15vw;
                text-transform: uppercase;
            }

            p {
                font-family: 'Dosis', sans-serif;
                font-size: .9vw;
                width: 25vw;
                color: $font-color;
            }
        }

        .right {
            float: right;

            @extend .left;

            p {
                width: auto;
            }
        }

        .bottom {
            width: 100%;
            height: 50%;

            .connected {
                h3 {
                    font-family: 'Teko', sans-serif;
                    font-size: 2.2vw;
                    font-weight: 300;
                    margin-bottom: 1vw;
                    letter-spacing: .1vw;
                    text-transform: uppercase;
                }

                p {
                    font-family: 'Dosis', sans-serif;
                    font-size: .9vw;
                    margin-bottom: 3vw;
                    color: $font-color;
                }
            }

            .social {
                float: left;
                width: 22.4%;
                height: 50%;
                margin-right: 3.4%;
                transition: background-color .3s ease;
                background-color: $gray2;

                &:hover {
                    background-color: white;
                }

                &:hover .wrapper {
                    transform: scale(1.7) translateY(-30%);
                    color: $gray2;
                }

                &.last {
                    margin-right: 0;
                }

                a {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    text-decoration: none;

                    .wrapper {
                        position: relative;
                        top: 50%;
                        width: 50%;
                        height: 50%;
                        margin: 0 auto;
                        transition: all .3s ease;
                        transform: translateY(-50%);
                        text-align: center;
                        color: white;

                        i {
                            font-size: 2.5vw;
                            margin-bottom: 1vw;
                        }

                        p {
                            font-family: 'Teko', sans-serif;
                            font-size: 1.5vw;
                            font-weight: 300;
                            letter-spacing: .2vw;
                            text-transform: uppercase;
                        }
                    }
                }
            }
        }
    }
}