*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	margin: 0;
}

.jumbotron{
	background-color: $gray;
	width: 100%;
	height: 100vh;
	padding: 150px 25%;
	margin-top: 1px;
	position: relative;

	.headline{
		color: white;
		font-family: 'Teko', sans-serif;
		font-size: 100px;
		text-align: center;
		letter-spacing: 15px;
		font-weight: 300;
		line-height: 120px;
		margin-bottom: 15px;
		margin-top: 15vh;
	}

	a{
		text-decoration: none;
	}

	.play_video{
		border: 2px solid $font-color;
		height: 50px;
		width: 200px;
		color: white;
		font-family: 'Teko', sans-serif;
		font-size: 21px;
		margin: 0px auto;
		padding: 10px 15px;
		transition: all 300ms ease;

		&:hover{
			cursor: pointer;
			color: $gray;
			background-color: $font-color;
		}

		i{
			margin-right: 15px;
		}
	}

	.discover_more{
		color: white;
		font-family: 'Teko', sans-serif;
		font-size: 26px;
		text-align: center;
		position: absolute;
		bottom: 5vh;
		display: block;
		left: 0;
		right: 0;
	}
}