* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 100vh;
    margin-top: 1px;
    padding: 150px 25%;
    background-color: $gray;

    .headline {
        font-family: 'Teko', sans-serif;
        font-size: 5vw;
        font-weight: 300;
        line-height: 5.5vw;
        margin-top: 10vh;
        margin-bottom: .5vw;
        text-align: center;
        letter-spacing: .5vw;
        color: white;
    }

    a {
        text-decoration: none;
    }

    .play_video {
        font-family: 'Teko', sans-serif;
        font-size: 21px;
        width: 200px;
        height: 50px;
        margin: 0 auto;
        padding: 10px 15px;
        transition: all 300ms ease;
        color: white;
        border: 2px solid $font-color;

        &:hover {
            cursor: pointer;
            color: $gray;
            background-color: $font-color;
        }

        i {
            margin-right: 15px;
        }
    }

    .discover_more {
        font-family: 'Teko', sans-serif;
        font-size: 26px;
        position: absolute;
        right: 0;
        bottom: 10vh;
        left: 0;
        display: block;
        text-align: center;
        color: white;
    }
}